body {
    background-image: url("back.png");
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
}

header img {
    margin-left: 1%;
    margin-top: 2%;
    width: 75px;
    height: 75px;
}

.profil {
    margin-left: 50%;
}

header h2 {
    font-size: 300%;
}

.skrzynki {
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
    border: 2px solid white;
}


.skrz1:hover img {
    opacity: 0.5;
    transition: .5s ease;
}

.skrz2:hover img {
    opacity: 0.5;
    transition: .5s ease;
}

.skrz3:hover img {
    opacity: 0.5;
    transition: .5s ease;
}

.skrz4:hover img {
    opacity: 0.5;
    transition: .5s ease;
}


.skrz1 {
    padding: 5% 5% 0% 5%;
    border: 2px solid white;
}

.skrz2 {
    padding: 5% 5% 0% 5%;
    border: 2px solid white;
}
.skrz3 {
    padding: 5% 5% 0% 5%;
    border: 2px solid white;
}
.skrz4 {
    padding: 5% 5% 0% 5%;
    border: 2px solid white;
}

.skrzynki p {
    font-weight: 500;
    font-size: 150%;

}

nav {
    display: flex;
    justify-content: space-evenly;
    border: 3px solid white;
    font-weight: 600;
}

main {
    margin-top: 3%;
    display: flex;
}

nav a {
    text-decoration: none;
    padding: 3vw;
    color: white;
    font-size: 150%;

}

footer {
    margin-top: 3vw;
    font-size: 1.25vh;
    text-align: center;
}
